/* Icon button */

:host([data-brand="Nykredit"][data-component="IconButton"]) {
  --background-color: var(--solid-color-cta);
  --box-shadow: var(--solid-shadow-surface-01);
  --border-radius: var(--solid-corner-fully);
  --icon-color: var(--solid-text-100);
  --width: var(--solid-size-11x);
  --height: var(--solid-size-11x);
}

:host([data-brand="Nykredit"][data-component="IconButton"][data-disabled="false"]) {
  --cursor: pointer;
}

/* Primary/Filled Icon Button */

:host([data-brand="Nykredit"][data-component="IconButton"][data-variant="filled" i][data-disabled="false"]),
:host([data-brand="Nykredit"][data-component="IconButton"][data-variant="primary" i][data-disabled="false"]) {
  --background-color: var(--solid-color-cta);
}

:host([data-brand="Nykredit"][data-component="IconButton"][data-variant="filled" i][data-disabled="false"]:hover),
:host([data-brand="Nykredit"][data-component="IconButton"][data-variant="primary" i][data-disabled="false"]:hover) {
  --background-color: var(--solid-action-primary-800);
}

:host([data-brand="Nykredit"][data-component="IconButton"][data-variant="filled" i][data-disabled="false"]:focus-within),
:host([data-brand="Nykredit"][data-component="IconButton"][data-variant="primary" i][data-disabled="false"]:focus-within) {
  --background-color: var(--solid-action-primary-700);
  --outline: var(--solid-border-solid) var(--solid-border-medium)
    var(--solid-accent-secondary-500);
}

:host([data-brand="Nykredit"][data-component="IconButton"][data-variant="filled" i][data-disabled="false"]:active),
:host([data-brand="Nykredit"][data-component="IconButton"][data-variant="primary" i][data-disabled="false"]:active) {
  --background-color: var(--solid-action-primary-900);
  --box-shadow: initial;
  --outline: initial;
}

:host([data-brand="Nykredit"][data-component="IconButton"][data-variant="filled" i][data-disabled="true"]),
:host([data-brand="Nykredit"][data-component="IconButton"][data-variant="primary" i][data-disabled="true"]) {
  --background-color: var(--solid-neutral-01-300);
  --icon-color: var(--solid-neutral-03-500);
}

/* Neutral/Secondary Icon Button */

:host([data-brand="Nykredit"][data-component="IconButton"][data-variant="neutral" i][data-disabled="false"]),
:host([data-brand="Nykredit"][data-component="IconButton"][data-variant="secondary" i][data-disabled="false"]) {
  --background-color: var(--solid-surface-100-light);
  --icon-color: var(--solid-action-primary-700);
}

:host([data-brand="Nykredit"][data-component="IconButton"][data-variant="neutral" i][data-disabled="false"]:hover),
:host([data-brand="Nykredit"][data-component="IconButton"][data-variant="secondary" i][data-disabled="false"]:hover) {
  --background-color: var(--solid-action-primary-50);
}

:host([data-brand="Nykredit"][data-component="IconButton"][data-variant="neutral" i][data-disabled="false"]:focus-within),
:host([data-brand="Nykredit"][data-component="IconButton"][data-variant="secondary" i][data-disabled="false"]:focus-within) {
  --background-color: var(--solid-surface-100-light);
  --outline: var(--solid-border-solid) var(--solid-border-medium)
    var(--solid-accent-secondary-500);
}

:host([data-brand="Nykredit"][data-component="IconButton"][data-variant="neutral" i][data-disabled="false"]:active),
:host([data-brand="Nykredit"][data-component="IconButton"][data-variant="secondary" i][data-disabled="false"]:active) {
  --background-color: var(--solid-action-primary-100);
  --box-shadow: initial;
  --outline: initial;
}

:host([data-brand="Nykredit"][data-component="IconButton"][data-variant="neutral" i][data-disabled="true"]),
:host([data-brand="Nykredit"][data-component="IconButton"][data-variant="secondary" i][data-disabled="true"]) {
  --background-color: var(--solid-surface-100-light);
  --icon-color: var(--solid-neutral-03-500);
}

/* Ghost/Tertiary Icon Button */

:host([data-brand="Nykredit"][data-component="IconButton"][data-variant="ghost" i][data-disabled="false"]),
:host([data-brand="Nykredit"][data-component="IconButton"][data-variant="tertiary" i][data-disabled="false"]) {
  --background-color: var(--solid-surface-100-light);
  --icon-color: var(--solid-action-primary-700);
  --box-shadow: initial;
  --outline: initial;
}

:host([data-brand="Nykredit"][data-component="IconButton"][data-variant="ghost" i][data-disabled="false"]:hover),
:host([data-brand="Nykredit"][data-component="IconButton"][data-variant="tertiary" i][data-disabled="false"]:hover) {
  --background-color: var(--solid-action-primary-50);
  --box-shadow: initial;
  --outline: initial;
}

:host([data-brand="Nykredit"][data-component="IconButton"][data-variant="ghost" i][data-disabled="false"]:focus-within),
:host([data-brand="Nykredit"][data-component="IconButton"][data-variant="tertiary" i][data-disabled="false"]:focus-within) {
  --background-color: var(--solid-surface-100-light);
  --outline: var(--solid-border-solid) var(--solid-border-medium)
    var(--solid-accent-secondary-500);
}

:host([data-brand="Nykredit"][data-component="IconButton"][data-variant="ghost" i][data-disabled="false"]:active),
:host([data-brand="Nykredit"][data-component="IconButton"][data-variant="tertiary" i][data-disabled="false"]:active) {
  --background-color: var(--solid-action-primary-100);
  --box-shadow: initial;
  --outline: initial;
}

:host([data-brand="Nykredit"][data-component="IconButton"][data-variant="ghost" i][data-disabled="true"]),
:host([data-brand="Nykredit"][data-component="IconButton"][data-variant="tertiary" i][data-disabled="true"]) {
  --background-color: var(--solid-surface-100-light);
  --icon-color: var(--solid-neutral-03-500);
  --box-shadow: initial;
  --outline: initial;
}

/* Outline Icon Button */

:host([data-brand="Nykredit"][data-component="IconButton"][data-variant="outline" i][data-disabled="false"]) {
  --box-shadow: initial;
  --background-color: var(--solid-surface-100-light);
  --icon-color: var(--solid-action-primary-700);
  --outline: var(--solid-border-solid) var(--solid-border-small)
    var(--solid-action-primary-700);
}

:host([data-brand="Nykredit"][data-component="IconButton"][data-variant="outline" i][data-disabled="false"]:hover) {
  --background-color: var(--solid-action-primary-50);
  --outline: var(--solid-border-solid) var(--solid-border-medium)
    var(--solid-action-primary-700);
}

:host([data-brand="Nykredit"][data-component="IconButton"][data-variant="outline" i][data-disabled="false"]:focus-within) {
  --background-color: var(--solid-surface-100-light);
  --outline: var(--solid-border-solid) var(--solid-border-medium)
    var(--solid-accent-secondary-500);
}

:host([data-brand="Nykredit"][data-component="IconButton"][data-variant="outline" i][data-disabled="false"]:active) {
  --background-color: var(--solid-action-primary-100);
  --box-shadow: initial;
  --outline: var(--solid-border-solid) var(--solid-border-small)
    var(--solid-action-primary-700);
}

:host([data-brand="Nykredit"][data-component="IconButton"][data-variant="outline" i][data-disabled="true"]) {
  --background-color: var(--solid-surface-100-light);
  --icon-color: var(--solid-neutral-03-500);
  --outline: var(--solid-border-solid) var(--solid-border-small)
    var(--solid-neutral-03-500);
  --box-shadow: initial;
}
