@import "../../styling/nykredit.css";

.component {
  height: 100%;
  min-height: 100%;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.flex-1 {
  flex: 1 1 auto;
}

.body {
  padding: var(--padding-content);
}
