@import "../../styling/nykredit.css";

:host {
  display: inline-block;
}

.container {
  padding: var(--padding);
}

.container:hover {
  cursor: pointer;
}

.hover-bar {
  display: block;
  width: 100%;
  height: var(--hover-bar-height);
  background-color: var(--hover-bar-color);
}
