@import "../../styling/nykredit.css";

:host {
  overflow: hidden;
  display: contents;
}

.component {
  display: contents;
}

.image {
  width: var(--image-width, 100%);
  height: var(--image-height, 100%);
  object-fit: var(--image-fit);
}
